.container {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  margin: 0 auto;
}

.cardDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.cardsList {
  display: grid;
  grid-auto-flow: column;
  gap: 8px;
  max-width: 1440px;
  overflow-x: scroll;
  padding-block: 1rem;
}
