:root {
  /* colors */
  --clr-black: #000000;
  --clr-white: #ffffff;

  --clr-green-olive: #b3be6e;
  --clr-green-tea: #77c091;
  --clr-green-tea-50: rgba(119, 192, 145, 0.5);
  --clr-green-wasabi: #778822;
  --clr-green-spring: #267342;
  --clr-green-palm: #0c2716;

  --clr-nude-rose: #decaba;
  --clr-nude-dust: #caad90;
  --clr-nude-lion: #c29670;
  --clr-nude-coffee: #674a32;

  --clr-orange-saffron: #ff9233;
  --clr-red-carmine: #eb4747;

  /* theme */
  --bg-primary: var(--clr-nude-dust);

  --txt-primary: var(--clr-black);
  --txt-secondary: var(--clr-nude-coffee);

  --card-front: var(--clr-nude-rose);
  --card-back: var(--clr-nude-dust);

  --btn-primary: var(--clr-green-tea);
  --btn-secondary: var(--clr-green-olive);
  --btn-border-md: 6px;
  --btn-border-lg: 8px;

  --warning: var(--clr-orange-saffron);
  --error: var(--clr-red-carmine);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  background-color: var(--bg-primary);
  color: var(--txt-primary);
  padding-inline: 16px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: var(--clr-nude-rose);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--clr-green-spring);
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

h1,
h2,
h3 {
  text-wrap: balance;
}
