.wrapper {
  position: relative;
  width: fit-content;
}

.logo {
  top: 0;
  left: 0;
  filter: drop-shadow(var(--clr-green-palm-35) -10px 10px 5px)
    drop-shadow(var(--clr-green-palm-20) -30px 30px 30px)
    drop-shadow(var(--clr-white-07) 8px -8px 10px);
}

.logoSmall {
  filter: drop-shadow(var(--clr-green-palm-35) -5px 5px 2px)
    drop-shadow(var(--clr-green-palm-20) -15px 15px 15px);
}

.logoBg {
  position: absolute;
  top: -56px;
  left: -56px;

  z-index: -1;
}
