.container {
  width: 173px;
  height: 216px;
  padding: 12px;

  background: var(--clr-green-tea-50);
  border-radius: 28px;
}

.content {
  padding: 0.4rem;
  background-color: var(--clr-nude-rose);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;

  border-radius: 16px;
}

.topScore {
}
.middleScore {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottomScore {
}
